.container {
    background-color: white;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
    height: auto;
}