.container {
    background-color: white;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
    height: auto;
    margin-top: 5%;
}

.fbLogo {
    width: 10%;
    height: auto;
}

.logoContainer {
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    align-items: center;
}
a {
    text-decoration: none;
    color: darkslategray;
}
a:hover {
    color: chocolate;
}
iframe {
    margin: 0 auto;
}
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}